body {
  font-family: 'Source Sans Pro', serif, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.white {
  color: white;
}

.bright-blue {
  color: #33bef2;
}

.logo-blue {
  color: #008dd3;
}

.logo-blue-background {
  background-color: #008dd3;
}

.light-yellow {
  color: #fffac1;
}

.hero-title {
  font-size: 80px;
  font-weight: 900;
  line-height: 1.2;
  padding-bottom: 20px;
}

.hero-text {
  font-size: 30px;
}

.bg-dark {
  background-color: #192b6c !important;
}

.logo-img {
  height: 100px;
}

@media (max-width: 768px) {
  .logo-img {
    height: 65px;
  }
}

header.masthead {
  position: relative;
  background-image: url("../img/homeheader.png");
  background-color: black;
  height: 550px;
  width: 100%;
  padding-top: 30px;
  padding-right: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.yellow-sliver {
  height: 7px;
  background-color: #f4d44a;
}

@media (max-width: 768px) {
  header.masthead {
    padding-top: 40px;
    height: 350px;
  }

  .hero-title {
    font-size: 35px;
  }

  .hero-text {
    font-size: 16px;
  }
}

.credits {
  padding-top: 5px;
  padding-bottom: 5px;
}

.gray-sliver {
  height: 1px;
  background-color: lightgray;
}

.showcase {
  color: white;
  background-color: #192b6c;
  padding-top: 4rem;
}

.showcase .showcase-text {
  padding: 3rem;
}

.showcase .showcase-img {
  min-height: 30rem;
  background-size: cover;
}

.showcase .card {
  color: #000;
}

@media (min-width: 768px) {
  .showcase .showcase-text {
    padding: 7rem;
  }

  .showcase .card {
    max-width: 400px;
  }
}

.showcase .card-columns {
  column-count: 1;
}

.features-icons {
  background-color: #fff;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.features-icons .features-icons-item {
  max-width: 20rem;
}

.features-icons .features-icons-item .features-icons-icon {
  height: 7rem;
}

.features-icons .features-icons-item .features-icons-icon i {
  font-size: 4.5rem;
}

.features-icons .features-icons-item:hover .features-icons-icon i {
  font-size: 5rem;
}

.testimonials {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.testimonials .testimonial-item {
  max-width: 18rem;
}

.testimonials .testimonial-item img {
  max-width: 12rem;
  box-shadow: 0px 5px 5px 0px #adb5bd;
}

.call-to-action {
  position: relative;
  background-color: white;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.call-to-action i {
  font-size: 2em;
  vertical-align: middle;
  padding-left: 5px;
}

footer.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.half_slider {
  padding-bottom: 4rem;
}

.carousel {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.carousel-item img {
  margin: auto;
  max-width: 100%;
}

.carousel-caption {
  color: #000;
  position: relative;
  left: auto;
  right: auto;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel-indicators li {
  background-color: #999;
  background-color: rgba(70, 70, 70, 0.25);
}

.carousel-indicators .active {
  background-color: #444;
}

.press {
  padding-bottom: 4rem;
}

.press .carousel-inner {
  max-width: 800px;
  margin: auto;
}

@media (max-width: 768px) {
  .press .carousel-inner {
    max-width: 75%;
    margin: auto;
  }
}

.press .carousel-caption {
  position: absolute;
  z-index: 1;
  height: 100%;
  color: white;
  top: 0;
  vertical-align: middle;
  text-align: center;
  width: 50%;
  align: left;
  background-color: rgba(25, 43, 108, 0.7);
}

.press .carousel-caption h3 {
  font-size: .8em;
}

.press .carousel-caption a {
  font-weight: bold;
  color: #dee2e6;
  font-size: 1.2git aem;
}

@media (min-width: 768px) {
  .press .carousel-caption h3 {
    font-size: 2em;
    background-color: #adb5bd;
    display: inline-block;
    margin-bottom: 40px;
  }

  .press .carousel-caption p {
    font-size: 2em;
  }
}