/********** GENERAL **********/
body {
  font-family: "Source Sans Pro", serif, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 18px;
}

h1 {
  font-size: 50px;
  font-weight: 700;
}

h2 {
  font-size: 40px;
  font-weight: 700;
}

h3 {
  font-size: 25px;
  font-weight: 700;
}

@media (max-width: 767px) {
  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 25px;
  }

  h3 {
    font-size: 20px;
  }
}

.white {
  color: white;
}

.bright-blue {
  color: #00aeef;
}

.bright-blue-background {
  background-color: #00aeef;
}

.logo-blue {
  color: #008dd3;
}

.calm-thinking-btn {
  background-color: #00aeef;
  border-color: #00aeef;
  color: #ffffff;
  border-radius: 7px;
}

.calm-thinking-btn:hover {
  background-color: #0084bc;
  border-color: #0084bc;
}

.light-yellow {
  color: #fffac1;
}

.bg-dark {
  background-color: #192b6c !important;
}

/********** NAV BAR **********/
.logo-img {
  height: 100px;
}

@media (max-width: 767px) {
  .logo-img {
    height: 65px;
  }
}

@media (max-width: 1003px) {
  .tabs {
    display: none;
  }
}

.tabs {
  float: right;
  padding-top: 10px;
  padding-right: 20px;
  font-size: 16px;
}

.tab {
  padding-left: 20px;
}

.login-btn {
  float: right;
  margin-top: 10px;
  font-size: 16px;
}

@media (min-width: 1004px) {
  .hamburger {
    display: none;
  }
}

.hamburger {
  float: right;
  margin-right: 20px;
  margin-top: 22px;
}

.hamburger-icon {
  width: 50px;
}

@media (max-width: 767px) {
  .hamburger-icon {
    width: 40px;
  }

  .hamburger {
    margin-top: 12px;
  }
}

.hamburger-btn {
  background: none;
  border: none;
  text-decoration: none;
}

.btn-lg {
  font-size: 1.35em;
}

@media (max-width: 767px) {
  .btn-lg {
    font-size: 1em;
  }
}

/********** HERO BANNER/MASTHEAD **********/

.hero-title {
  font-size: 76px;
  font-weight: 900;
  line-height: 1.2;
  padding-bottom: 20px;
}

.hero-text {
  font-size: 30px;
}

.masthead-filter {
  background: rgba(0, 0, 0, 0.4);
  height: 100%;
  padding-top: 60px;
  padding-right: 40px;
}

header.masthead {
  position: relative;
  height: 550px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.yellow-sliver {
  height: 7px;
  background-color: #f4d44a;
}

@media (max-width: 767px) {
  header.masthead {
    height: 300px;
  }

  .masthead-filter {
    padding-top: 30px;
    padding-right: 15px;
  }

  .hero-title {
    font-size: 32px;
  }

  .hero-text {
    font-size: 18px;
  }
}

/********** CREDITS **********/
.credits {
  padding-top: 5px;
  padding-bottom: 5px;
}

.gray-sliver {
  height: 1px;
  background-color: lightgray;
  margin-bottom: 30px;
}

/********** HOW IT WORKS **********/
@media (max-width: 767px) {
  .howitworks-content {
    display: none;
  }

  .gray-sliver {
    margin-bottom: 10px;
  }
}

.howitworks-img {
  width: 80%;
  border-radius: 50%;
  display: block;
  margin: auto;
}

/********** What is it? ********/
.whatisbias-img {
  width: 100%;
}

/********** PROGRAMS **********/
.calm-thinking {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
    url("../img/calm-water.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 425px;
  width: 425px;
  margin-left: auto;
  margin-right: auto;
}

.calm-thinking-title {
  color: #ffffff;
  padding-top: 50px;
  padding-bottom: 10px;
}

.calm-thinking-text {
  color: #ffffff;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 45px;
  font-size: 20px;
}

@media (max-width: 767px) {
  .calm-thinking {
    height: 300px;
    width: 300px;
  }

  .calm-thinking-title {
    padding-top: 20px;
    padding-bottom: 0;
  }

  .calm-thinking-text {
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0;
    margin-bottom: 8px;
  }
}

.calm-btn {
  float: bottom;
}

/********** ICONS GRID **********/

.features-icons {
  background-color: #fff;
  padding-bottom: 40px;
}

.features-icons .features-icons-item {
  max-width: 20rem;
}

.features-icons .features-icons-item .features-icons-icon {
  height: 7rem;
}

.features-icons .features-icons-item .features-icons-icon i {
  font-size: 4.5rem;
}

.features-icons .features-icons-item:hover .features-icons-icon i {
  font-size: 5rem;
}

/********** FOOTER **********/
.footer {
  padding-top: 20px;
  padding-bottom: 20px;
}

a.footer-tab {
  font-size: 16px;
  padding-left: 20px;
  color: white;
}

.legal-text {
  font-size: 16px;
}

/********** PRESS (Don't touch; the formatting seems scary) **********/
@media (max-width: 767px) {
  .press-text {
    font-size: 16px;
    line-height: normal;
  }
}

.half_slider {
  padding-bottom: 4rem;
}

.carousel {
  padding-top: 20px;
  padding-bottom: 20px;
}

.carousel-item img {
  margin: auto;
  max-width: 100%;
}

.carousel-caption {
  color: #000;
  position: relative;
  left: auto;
  right: auto;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
}

.carousel-indicators li {
  background-color: #999;
  background-color: rgba(70, 70, 70, 0.25);
}

.carousel-indicators .active {
  background-color: #444;
}

.press {
  padding-bottom: 20px;
}

.press .carousel-inner {
  max-width: 800px;
  margin: auto;
}

@media (max-width: 768px) {
  .press .carousel-inner {
    max-width: 75%;
    margin: auto;
  }
}

.press .carousel-caption {
  position: absolute;
  z-index: 1;
  height: 100%;
  color: white;
  top: 0;
  vertical-align: middle;
  text-align: center;
  width: 50%;
  align: left;
  background-color: rgba(25, 43, 108, 0.7);
}

.press .carousel-caption h3 {
  font-size: 0.8em;
}

.press .carousel-caption a {
  font-weight: bold;
  color: #dee2e6;
  font-size: 1.2git aem;
}

@media (min-width: 768px) {
  .press .carousel-caption h3 {
    font-size: 2em;
    background-color: #adb5bd;
    display: inline-block;
    margin-bottom: 40px;
  }

  .press .carousel-caption p {
    font-size: 2em;
  }
}