header.masthead {
  position: relative;
  background-color: $gray-100;
  @include background-cover;
  padding-top: 4rem;
  .overlay {
    position: absolute;
    background-color: $gray-100;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
  }
  h1 {
    font-size: 2rem;
  }
  @media (min-width: 768px) {
    padding-top: 4rem;
    h1 {
      font-size: 3rem;
    }
    img {
      padding-top: 0;
    }
  }
  img {
    padding-top: 2rem;
    max-width: 100%;
  }
}
