.press {

  padding-bottom: 4rem;

  .carousel-inner {
    max-width: 800px;
    margin: auto;

  }

  @media (max-width: 768px) {
    .carousel-inner {
      max-width: 75%;
      margin: auto;
    }
  }

  .carousel-caption {
    position: absolute;
    z-index: 1;
    height: 100%;
    color: white;
    top: 0;
    vertical-align: middle;
    text-align: center;
    width: 50%;
    align: left;
    background-color: rgba(25, 43, 108, 0.7);

    h3 {
      font-size: .8em;
    }

    a {
      font-weight: bold;
      color: $gray-300;
      font-size: 1.2git aem;
    }
  }

    @media (min-width: 768px) {
      .carousel-caption {
        h3 {
          font-size: 2em;
          background-color: $gray-500;
          display: inline-block;
          margin-bottom: 40px;
        }

        p {
          font-size: 2em;
        }
      }
    }

}