.showcase {

  color: white;
  background-color: $dark-blue;
  padding-top: 4rem;

  .showcase-text {
    padding: 3rem;
  }
  .showcase-img {
    min-height: 30rem;
    background-size: cover;
  }
  .card {
    color: $black;
  }

  @media (min-width: 768px) {
    .showcase-text {
      padding: 7rem;
    }
    .card {
      max-width: 400px;
    }
  }
  .card-columns {
      column-count: 1;
  }
}

